 <section class="title">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>About</h1>
                </div>
                <div class="span6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                        <li class="active">About</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- / .title -->   

    <section id="about-us" class="container main">
        <div class="row-fluid">
            <div class="span6">
                <h2>Kenton Boutwell</h2>
                <p>Kenton Boutwell is an American College of Sports Medicine certified Personal Trainer, USA Weightlifting Sports Performance Coach, CrossFit Level One Trainer and Functional Movement Screen certified professional. He earned his bachelors from the University of Southern Mississippi and is currently pursuing a M.S. in Exercise Science at Middle Tennessee State University.

Martial arts have provided him with a sense of balance and discipline since age five. Six years of experience in the U.S. Air Force reinforced the value of those virtues. While maintaining his personal trainer certification at American College of Sports Medicine, he learned how to utilize his own background in the tailoring of individual exercise programs that incorporate the unique histories and needs of clients.  Boutwell has worked with men, women, and youth of all ages, experience, and fitness levels, from novices to skilled athletes. As your trainer, Kenton will work with you to design an exercise program based on proper form and technique, while building a personal relationship based on mutual respect and accountability.</p>
            </div>
            <div class="span6">
                <h2></h2>
                <div style="margin-top:61px">
                    <img src="/assets/template/sample/about.jpg" style="width:400px;height:260px">
																 </div>
                </div>
            </div>
        </div>





</section>

 